{# Public template API. Implementation is grouped by resource type. #}
{% import "macros/common.jinja" as common %}
{% import "macros/social.jinja" as social %}

{% macro resolve_cover_src(result, as_data=False) -%}
    {{- common.resolve_cover_src(result, as_data) -}}
{%- endmacro %}

{% macro render_ambient(cover_src, cover_sample_src='') -%}
    {{- common.render_ambient(cover_src, cover_sample_src) -}}
{%- endmacro %}

{% macro render_content(result, is_repost=False) -%}
    {{- social.render_content(result, is_repost) -}}
{%- endmacro %}
